Veille Techno - Résumé du {{ date }}

{{articles|length}} articles filtrés et résumés.
Mots clés : {{keywords}}

{% for article in articles %}
Titre: {{ article.title }}
{# Source: {{ article.source }} #}
Lien: {{ article.link }}
{{ article.summary }}
{# Mots-clés: {{ article.keywords|join(', ') }} #}

---
{% endfor %}
