<!DOCTYPE html>
<html>
<head>
    <title>Veille Techno - Résumé du {{ date }}</title>
</head>
<body>
    <h2>Veille Techno - Résumé du {{ date }}</h2>
    <h4>Les {{articles|length}} derniers articles filtrés et résumés</h4>
    <h5>Mots clés : {{keywords | join(', ')}} sur un seuil >= {{threshold}}</h5>
    {% for article in articles %}
        <div style="margin-bottom: 20px; border: 1px solid #ddd; padding: 10px;">
            <h3><a href="{{ article.link }}">🔗 {{ article.title }}</a> - {{ article.score }}</h3>            
            <h4><small>publié le {{ article.published | format_date }} - résumé du {{ article.dt_created | format_local_datetime }} </small></h4>
            <p>📰 {{ article.summary | replace('\n', '<br>') | safe }}</p>    
        </div>
    {% endfor %}
</body>
</html>
